<div class="d-flex flex-column gap-2 justify-content-center align-items-center h-100 w-100">
  <strong class="text-lg-center" style="font-size: 10rem;">😶‍🌫️</strong>
  <h1>500: Internal Server Error!!!</h1>
  <h2>Refreshing might help</h2>
  <button class="glowingbtn" routerLink="/"> Go back Home </button>
  <ng-container *ngIf="error">
    <h3 class="text-bg-danger">Error: {{error.message}}</h3>
    <p>Don't blame Angular, check your Backend 🙄</p>
    <h3>Stack Track</h3>
    <code class="mt-4 formatted-stack-trace">{{error.detail}}</code>
  </ng-container>
</div>

